<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315116564654-leqmj9vmqeruhm7prf33923inqbil933.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315116564654-leqmj9vmqeruhm7prf33923inqbil933</string>
	<key>API_KEY</key>
	<string>AIzaSyBt7LyXPWn6ZasApz-rUkhRfAyP5FaNgjM</string>
	<key>GCM_SENDER_ID</key>
	<string>315116564654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techyflow.esra</string>
	<key>PROJECT_ID</key>
	<string>hbkuesra</string>
	<key>STORAGE_BUCKET</key>
	<string>hbkuesra.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315116564654:ios:7221d2c1c0042da704fd3f</string>
	<key>DATABASE_URL</key>
	<string>https://hbkuesra.firebaseio.com</string>
</dict>
</plist>